In [282]:
import tensorflow as tf
import numpy as np
import pandas as pd

from tensorflow.python.lib.io import file_io

t1 = file_io.read_file_to_string('train.csv')

ta = pd.read_bin(t1)
# t1_data = t1.splitlines()

# t1_list_data = []
# t1_list_data2 = []
# for data in t1_data:
#     t1_list_data.append(eval(data))

# for data in t1_list_data:
#     t1_list_data2.append(data.split(","))

# t1_list_data2 = np.array(t1_list_data2[1:])

# train_df = pd.DataFrame(t1_list_data2, columns=['PassengerId', 'Survived', 'Pclass','Family Name', 'Last Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])

# train_df.

AttributeError: module 'pandas' has no attribute 'read_bin'

In [276]:
t2 = file_io.read_file_to_string('test.csv')
t2_data = t2.splitlines()
# t2

t2_list_data = []
t2_list_data2 = []
for data in t2_data:
    t2_list_data.append(data.decode("utf-8"))

for data in t2_list_data:
    t2_list_data2.append(data.split(","))
    
t2_list_data2 = t2_list_data2[1:]

test_df = pd.DataFrame(t2_list_data2,columns=['PassengerId', 'Pclass','Family Name', 'Last Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])


list_fare = []
for a in range(418):
    list_fare.append(float(test_df.Fare[a]))
#     print(float(test_df.Fare[a]))
# eval(test_df.Fare)
print(float(list_fare))
# list_fare = [float(x) for x in list_fare]

# test_df.info()
# test_df["Fare"] = pd.Series(list_fare)
# type(float(test_df.Fare[1]))
# type(test_df.Fare)

ValueError: could not convert string to float:

In [225]:
ttt=pd.read_csv("test.csv")
ttt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB